body {
	background:#EFEFEF;
	color:black;
}
h1 {
    font-size: 20px;
    font-family: sans-serif;
    text-size-adjust: none;
}
span {
    white-space: nowrap;
    hyphens: none;
    font-size: 14px;
    font-family: sans-serif;
    text-size-adjust: none;
}
table {
    vertical-align: center;
    border-collapse: collapse;
    border: 0px;
    padding: 0px;
    margin: auto;
}
td {
    white-space: nowrap;
    hyphens: none;
    font-size: 15px;
    font-family: sans-serif;
    vertical-align: center;
    text-size-adjust: none;
}
.matrixTable {
    border-left: 1px solid black;
    border-right: 1px solid black;
} 
.matrixCell {
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    width: 50px;
}
.center {
    margin: auto;
    width: 100%;
    text-align: center;
    display: inline-table;
    font-size: 15px;
    font-family: sans-serif;
    text-size-adjust: none;
}
.determinantTable {
    border-collapse: collapse;
    padding: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: auto;
} 
.matrixCell {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
} 
.rhsCell {
    padding: 5px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
} 
.lhsCell {
    padding: 5px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
    vertical-align: center;
} 
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}
.fracTop {
    font-size: 11px;
    display: block;
    margin: 0;
    letter-spacing: 0.001em;
}
.fracBottom {
    font-size: 11px;
    border-top: 1px solid black;
    display: block;
    margin: 0;
    letter-spacing: 0.001em;
}

